/* .scrollable-select {
    height: 200px; 
    overflow-y: auto; 
    border: 1px solid #ccc;
    border-radius: 4px;
} */

.wallet-table,
.transaction-table {
    color: black !important;
    /* Force black text */
}

.wallet-table th,
.wallet-table td,
.transaction-table th,
.transaction-table td {
    color: black !important;
    /* Force black text */
}